
<!-- Always shows a header, even in smaller screens. -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Time Waster</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Shark Tank</a>
        <a class="mdl-navigation__link" href="">Tilt To Live</a>
        <a class="mdl-navigation__link" href="">Link Five</a>
        <a class="mdl-navigation__link" href="">Snake</a>
      </nav>
    </div>
  </header>

  <div id="test">
		<div id="game-box"><div id="food"></div><div class ="snake" id="snake-head"></div><div class="snake" id="snake-body-1"></div><div class="snake" id="snake-body-2"></div></div>
	</div>

	<div id="game-controls">
		<button id="start-game" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Play
		</button>

		<button id="restart-game" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Restart
		</button>
	</div>

	<div id="difficulty-controls">

		<button id="easy-difficulty" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Easy
		</button>

		<button id="normal-difficulty" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Normal
		</button>

		<button id="hard-difficulty" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Hard
		</button>
	</div>


<button id="score-board" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <span id="score-count"> 0 </span>
</button>


<button id="pause-noti" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			  Paused
</button>

<button id="super-food-timer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	100
</button>


<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 520px;
  left: 80px;
  top: 50px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('http://i66.tinypic.com/ka3b02.png') bottom right 15% no-repeat #46B6AC;
}
</style>

<div id="tutorial" class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">How To Play</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	<p>1. Select a difficulty then press 'Start'.</p>
  	<p>2. Use your arrow keys to move the snake.</p>
    <p>3. Eat food to add points and grow the snake. Superfood comes out every 10 food eaten.</p>
    <p>4. Press your Space Bar to pause / unpause the game.</p>
    <p>5. Press 'Restart' to start a new game!</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Start Playing!
    </a>
  </div>
</div>


<div id="leader-board">
	<h5> High Scores: </h5>
	<i class="material-icons">directions_bike</i>
	<p> Jebus: 123  </p>
	<i class="material-icons">directions_walk</i>
	<p> Brock: 321  </p>
	<i class="material-icons">hotel</i>
	<p> Crap: 334  </p>
</div>