// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-box {
	background-color: black;
	height: 375px;
	width: 375px;
	position: absolute;
	left: 475px;
	top: 100px;
}

#game-controls {
	position: absolute;
	left: 42.5vw;
	top: 80vh;
}

#start-game {
	background-color: #8bc34a;
	width: 7vw;
	left: 2vw;
}

#pause-game {
	background-color: #ff5722;
	width: 7vw;
	left: 2vw;
}

.snake {
	background-color: black;
	width: 15px;
  	height: 15px;
  	position: absolute;
}

#snake-head {
	left: 60px;
	top: 0;
}

#snake-body-1 {
	left: 40px;
	top: 0;
}

#snake-body-2 {
	left: 20px;
	top: 0;
}