// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-box {
	background-color: black;
	height: 450px;
	width: 450px;
	position: absolute;
	left: 500px;
	top: 100px;
}

#game-controls {
	position: absolute;
	left: 595px;
	top: 575px;
}

#start-game {
	background-color: #8bc34a;
	width: 7vw;
	left: 2vw;
}

#restart-game {
	background-color: #7986cb;
	width: 7vw;
	left: 2vw;
}

#difficulty-controls {
	position: absolute;
	left: 550px;
	top: 625px;
}

#easy-difficulty {
	width: 7vw;
	left: 2vw;
}

#normal-difficulty {
	width: 7vw;
	left: 2vw;
}

#hard-difficulty {
	width: 7vw;
	left: 2vw;
}


.snake {
	background-color: black;
	width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

#food {
	background-color: white;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
}

#score-board {
	position: absolute;
	background-color: #ff7043;
	text-align: center;
	color: white;
	left: 1015px;
	top: 100px;
}

#pause-noti {
position: absolute;
left: 1000px;
top: 300px;
}

#super-food-timer {
	position: absolute;
	left: 1020px;
	top: 500px;
}

.superfood {
	background-color: red !important;
}

#leader-board {
	position: absolute;
	left: 1150px;
	top: 100px;
	width: 250px;
	height: 300px;
}

